<%- contentFor('main') %>

<h1>Create Contact</h1>

<form action="/contact" method="POST">
  <div class="form-group">
    <label for="nama">Nama</label>
    <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukkan nama">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Masukkan email">
  </div>
  <div class="form-group">
    <label for="notelp">No HP</label>
    <input type="text" class="form-control" id="notelp" name="notelp" placeholder="Masukkan no hp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>